body{
    padding: 0px;
    margin:0px;
    width:100%;
    background-color: lightgray;
    box-sizing: border-box;
}

.container
{
    background-color: white;
    width: 50%;
    margin:auto;
    overflow: hidden;
    position: relative;
    border: 1px solid red;
}

.container-carousel
{
    display: flex; 
    Height: 450px;
}

.navigation-control{
    top: -50%;
    z-index: 1;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}